@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Phudu:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.786);
}

header nav .logo {
  color: orangered;
  font-family: "Phudu", cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  font-size: 2rem;
  border: 2px solid;
  border-radius: 50px;
  padding-inline: 1rem;
}
header nav .logo:hover {
  color: rgb(247, 159, 28);
  border: 3px solid;
}

main .promos .promos-estilos h5, main .title-promos, main .title-servicios {
  color: orange;
  font-family: "Phudu", cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px orangered;
  font-size: 2rem;
}

header .btn-nav {
  background-color: orangered;
  border-radius: 30px;
}
header .nav-estilo {
  color: orangered;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px;
}
header .nav-estilo:hover {
  color: orange;
}
header .banner {
  width: 100%;
  height: 600px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
header .banner .bienvenida {
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
header .banner .bienvenida h1 {
  color: orangered;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px;
  font-family: "Phudu", cursive;
}
header .banner .bienvenida h2 {
  color: orange;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
  font-family: "Phudu", cursive;
}

@keyframes banner {
  0%, 20% {
    background-image: url("../../images/banner-1.webp");
  }
  25%, 45% {
    background-image: url("../../images/banner-2.webp");
  }
  50%, 70% {
    background-image: url("../../images/banner-3.webp");
  }
  75%, 100% {
    background-image: url("../../images/banner-4.webp");
  }
}
main .title-servicios {
  margin: 3rem;
  text-align: center;
}
main .servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
main .servicios-item {
  text-align: center;
  color: orange;
  text-shadow: 1px 1px 1px orangered;
  font-family: "Phudu", cursive;
  font-size: 1.5rem;
  background-color: black;
}
main .servicios-item li {
  color: orangered;
  background-color: black;
  font-family: "Bebas Neue", cursive;
  animation: servicios 1.5s infinite linear alternate;
}
@keyframes servicios {
  0%, 20% {
    color: rgb(252, 168, 13);
  }
  25%, 45% {
    color: rgb(190, 103, 9);
  }
  50%, 100% {
    color: rgba(193, 148, 66, 0.939);
  }
}
main .title-promos {
  margin: 4rem;
  text-align: center;
}
main .promos {
  border: 2px solid;
  padding: 2rem;
}
main .promos .card {
  border: 1px solid orangered;
}
main .promos .card:hover {
  border: 3px solid orange;
}
main .promos .promos-estilos h5 {
  font-size: 1.5rem;
}
main .promos .promos-estilos p {
  color: rgb(247, 159, 28);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
}
main .promos .promos-estilos .btn-promos {
  color: black;
  background-color: orange;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}
main .promos .promos-estilos .btn-promos:hover {
  border: 2px solid;
  color: orangered;
}/*# sourceMappingURL=estilos.css.map */