footer{
    @include flex(flex,center,center);
    gap: 5rem;
    background-color: black;
    margin-top: 1rem;

    .footer-pages{
        a{
            @include a(none,$colorsecondary,$fontsecondary);
            align-items: center;
            font-size: 1rem;
            border: 1px solid;
            padding-inline: 1.8rem;
            line-height: 3rem;

            &:hover{
                color: $colormain;
            }
        }
    }

.news{
    color: $colorsecondary;
    text-align: center;
    font-family: $fontsecondary;
    font-size: 1rem;
    text-shadow: 1px 1px 1px gray;
    letter-spacing: 0.1rem;

    .btn-footer{
        color: black;
        background-color: $colorsecondary;
        border-radius: 20px;
        padding: 0.2rem;
        font-family: $fontsecondary;
        font-weight: 400;
        border: 1px solid $colormain;
        &:hover{
            color: $colormain;
        }
    }

    .footer-iconos{
        img{
        width: 30px;

        }
}
}
}
