/*pag-index*/

.promos{
    @include mobile{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.promos{
    @include tablet{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

/*página nosotros*/

.instalaciones{
@include mobile{
    display: flex;
    flex-direction: column;
}
}

.instalaciones{
    @include tablet{
        display: flex;
        flex-direction: column;
    }
}


/*página menú*/

.grid{
    @include mobile{
        display: flex;
        flex-direction: column;
    }
    }

    .grid{
        @include tablet{
            display: flex;
            flex-direction: column;
        }
        }


        /*footer*/

        footer{
            @include mobile{
            display: flex;
            flex-direction: column;}
        }

        footer{
            @include tablet{
            display: flex;
            flex-direction: column;}
        }