main {
  .estilo-title {
    @extend %titulo;
    margin: 3rem;
    text-align: center;
  }

  .nosotros-style {
    color: $colortext;
    line-height: 50px;
    box-shadow: 2px 2px 2px $colormain;
    padding-inline: 1rem;
    margin-inline: 1rem;
    align-items: center;
    font-size: 1rem;
    font-family: $fontmain;
    letter-spacing: 0.1rem;

    &:hover {
      box-shadow: 3px -3px 3px black;
      color: black;
      background-color: rgba(255, 166, 0, 0.989);
      text-shadow: 1px 1px 1px;
    }
  }



.instalaciones-title{
  @extend %subtitulo;
  margin: 5rem;
  text-align: center;
}
.instalaciones{
  @include flex(flex, center, center);
  
}
}
