main {
  .estilo-title {
    @extend %titulo;
    margin: 3rem;
    text-align: center;
  }

  .nosotros-style {
    color: $colortext;
    line-height: 50px;
    box-shadow: 2px 2px 2px 2px $colorsecondary;
    padding-inline: 1rem;
    margin-inline: 1rem;
    align-items: center;
    font-size: 1.3rem;
    font-family: $fonttexto;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.1rem;

  

    &:hover {
      box-shadow: 3px -3px 3px;
      font-weight: bold;
    }
 
    .img-nosotros{
      width: 50px;
      height: 50px;
    }
  }



.instalaciones-title{
  @extend %subtitulo;
  margin: 5rem;
  text-align: center;
}
.instalaciones{
  @include flex(flex, center, center);
  
}
}
