@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@1,400;1,600;1,700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Mukta:wght@200;300;400;500;600;700&family=Phudu:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.786);
}

/*mixin*/


@mixin flex($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin a($text,$color,$font){
    text-decoration: $text;
    color: $color;
    font-family: $font;
  }

  @mixin grid($columns, $espacio) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $espacio;
  }

  /*mixin mediaqueries*/


  @mixin mobile() {
    @media screen and (min-width: 320px) and (max-width: 480px){
      @content;
    }

    }

    @mixin tablet() {
      @media screen and (min-width: 481px) and (max-width: 768px){
        @content;
      }
  
      }  

      /*mixin flexbox*/

      @mixin flex($flex, $justify, $align) {
        display: $flex;
        justify-content: $justify;
        align-items: $align;
      }
  